#page-content-wrapper {
    overflow-x: hidden;
    background-color: #E1DBDB;
    margin: 5%;
}

.input-group {
    float: right;
    // width: 50%;
    margin-left: 50%;
    margin-right: 2%;
    margin-top: -5%;
}

.btn {
    border-radius: 5px;
}

.card-img-top {
    width: 100px;
    border-radius: 50%;
}

.name {
    float: right;
    margin-left: 40%;
    margin-top: -23%;
}

.position {
    float: right;
    margin-left: 40%;
    margin-top: -25;
}