<div id="page-content-wrapper">
    <div class="row container pt-5">
        <h5 class="font-weight-bold ml-5">Employee Records</h5>
        <div class="input-group w-50">
            <input type="text" class="form-control ml-2" placeholder="">
            <button class="btn btn-primary sm-col ml-2 mb-4">Register New Employee</button>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img class="card-img-top m-2" src="../../assets//img//img2.jpg" alt="Card image cap">

        <h2 class="name">John Doe</h2>
        <p class="position">Administrator</p>

        <div class="card-body">
            <i class="fas fa-mobile-alt"></i>
            <p class="card-title">Card title</p>

        </div>
    </div>
</div>