<div class="container registerEmployeeContainer">
    <form #registerEmployeeForm="ngForm" (ngSubmit)="getEmployeeData(registerEmployeeForm.value)" class="registerEmployeeForm">
        <div class="form-row">
            <h2 class="formHeader text-center">Register Employee</h2>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-5 inputLabel">
                <label for="firstName">Firstname</label>
                <input [ngModel]="firstName" name="firstName" type="text" class="form-control " id="firstName">
            </div>
            <div class="form-group col-md-5 inputLabel">
                <label for="lastName">Lastname</label>
                <input [ngModel]="lastName" name="lastName" type="text" class="form-control" id="lastName">
            </div>
            <div class="form-group col-md-2 inputLabel">
                <label for="middleinitial">Middle Initial</label>
                <input [ngModel]="middleinitial" name="middleinitial" type="text" class="form-control" id="middleinitial">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 inputLabel">
                <label for="gender">Gender</label>
                <select [ngModel]="gender" name="gender" class="form-control" id="gender">
                <option selected>Select...</option>
                    <option>Female</option>
                    <option>Male</option>
                </select>
            </div>
            <div class="form-group col-md-4 inputLabel">
                <label for="contactNumber">Contact Number</label>
                <input [ngModel]="contactNumber" name="contactNumber" type="text" class="form-control" id="contactNumber">
            </div>
            <div class="form-group col-md-5 inputLabel">
                <label for="email">Email</label>
                <input [ngModel]="email" name="email" type="email" class="form-control" id="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9 inputLabel">
                <label for="address">Address</label>
                <input [ngModel]="address" name="address" type="text" class="form-control"
                    id="streetAddress">
            </div>
            <div class="form-group col-md-3 inputLabel">
                <label for="userType">User Type</label>
                <select [ngModel]="userType" name="userType" class="form-control" id="userType">
                <option selected>Select...</option>
                    <option>Admin</option>
                    <option>Clerk</option>
                </select>
            </div>
        </div>
        <!-- Button -->
        <div class="form-row d-flex flex-row-reverse">
            <div class="p-2"><button type="submit" class="btn btn-primary  my-3">Save</button></div>
            <div class="p-2"><button class="btn btn-danger  mx-2 my-3 ">Cancel</button></div>
        </div>
    </form>
</div>