.formHeader{
    // text-align: center;
    color: #000;
    font-family: 'Asap Condensed';
    margin-top: 50px;
}
.registerEmployeeContainer{
    width: 80%;
    height: 100%;
    background-color: #2BBEED;
}
.registerEmployeeForm{
    margin: 50px;
}
.cancelButton{
    float: right;
}
.inputLabel{
    color: black;
    font-weight: bold;
}